
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adding eployee form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Employee form</h2>
    <!--wyświetli komunikat jeśłi errormessage nei będzie pusty-->
    <div class="alert alert-warning" th:if="${errorMessage != null}" th:text="${errorMessage}"/>

    <!--th:if - pozwala na wyświetlenie formularza tylko jeśli produkt istnieje-->
    <form action="/employee/save" th:object="${employee}" th:if="${employee != null}" method="post">

        <input th:field="*{employeeId}" type ="hidden" name="id"/>

        <div class="form-group">
            <label for="firstName">First name:</label>
            <input th:field="*{firstName}" type="text" class="form-control"  id="firstName" placeholder="Enter first name" name="firstName">
            <ul>
                <li th:each="err : ${#fields.errors('firstName')}" th:text="#{name.wrong.value}" />
            </ul>
        </div>
        <div class="form-group">
            <label for="lastName">Last name:</label>
            <input  th:field="*{lastName}" type="text" class="form-control" id="lastName" placeholder="Enter last name" name="lastName">
            <ul>
                <li th:each="err : ${#fields.errors('lastName')}" th:text="#{name.wrong.value}" />
            </ul>
        </div>
        <div class="form-group">
            <label for="age">Age:</label>
            <input th:field="*{age}" type="text" class="form-control" id="age" placeholder="Enter age" name="age">
            <ul>
                <li th:each="err : ${#fields.errors('age')}" th:text="#{age.wrong.value}" />
            </ul>
        </div>
        <div class="form-group">
            <label for="age">Sex:</label>
            <select  th:field="*{sex}"  class="form-control" id="sex" name="sex" >
                <ul>
                    <li th:each="err : ${#fields.errors('sex')}" th:text="${err}" />
                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}"/>
                <option th:each="sex: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.Sex).values()}"
                        th:value="${sex}"
                        th:text="${sex.getSex()}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="educationDegree">Education degree:</label>
            <select  th:field="*{educationDegree}"  class="form-control" id="educationDegree" name="educationDegree">
                <ul>
                    <li th:each="err : ${#fields.errors('educationDegree')}" th:text="${err}" />

                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}" />
                <option th:each="educationDegree: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.EducationDegree).values()}"
                        th:value="${educationDegree}"
                        th:text="${educationDegree.getEducationDegree()}"
                         >
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="height">Height(cm):</label>
            <input th:field="*{height}" type="text" class="form-control" id="height" placeholder="Enter height" name="height">
            <ul>
                <li th:each="err : ${#fields.errors('height')}" th:text="#{height.wrong.value}" />
            </ul>
        </div>
        <div class="form-group">
            <label for="weight">Weight(kg):</label>
            <input th:field="*{weight}" type="text" class="form-control" id="weight" placeholder="Enter weight" name="weight">
            <ul>
                <li th:each="err : ${#fields.errors('weight')}" th:text="#{weight.wrong.value}" />
            </ul>
        </div>
        <div class="form-group">
            <label for="bodyType">Body type:</label>
            <select  th:field="*{bodyType}"  class="form-control" id="bodyType" name="bodyType" >
                <ul>
                    <li th:each="err : ${#fields.errors('bodyType')}" th:text="${err}" />
                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}"/>
                <option th:each="bodyType: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.BodyType).values()}"
                        th:value="${bodyType}"
                        th:text="${bodyType.getBodyType()}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="complexion">Complexion:</label>
            <select  th:field="*{complexion}"  class="form-control" id="complexion" name="complexion" >
                <ul>
                    <li th:each="err : ${#fields.errors('complexion')}" th:text="${err}" />
                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}"/>
                <option th:each="complexion: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.Complexion).values()}"
                        th:value="${complexion}"
                        th:text="${complexion.getComplexion()}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="hairColour">Hair colour:</label>
            <select  th:field="*{hairColour}"  class="form-control" id="hairColour" name="hairColour" >
                <ul>
                    <li th:each="err : ${#fields.errors('hairColour')}" th:text="${err}" />
                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}"/>
                <option th:each="hairColour: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.HairColour).values()}"
                        th:value="${hairColour}"
                        th:text="${hairColour.getHairColour()}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="ethnicity">Ethnicity:</label>
            <select  th:field="*{ethnicity}"  class="form-control" id="ethnicity" name="ethnicity" >
                <ul>
                    <li th:each="err : ${#fields.errors('ethnicity')}" th:text="${err}" />
                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}"/>
                <option th:each="ethnicity: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.Ethnicity).values()}"
                        th:value="${ethnicity}"
                        th:text="${ethnicity.getEthnicity()}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="religiousRelation">Religious relation:</label>
            <select  th:field="*{religiousRelation}"  class="form-control" id="religiousRelation" name="religiousRelation" >
                <ul>
                    <li th:each="err : ${#fields.errors('religiousRelation')}" th:text="${err}" />
                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}"/>
                <option th:each="religiousRelation: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.ReligiousRelation).values()}"
                        th:value="${religiousRelation}"
                        th:text="${religiousRelation.getReligiousRelation()}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="sexualOrientation">Sexual orientation:</label>
            <select  th:field="*{sexualOrientation}"  class="form-control" id="sexualOrientation" name="sexualOrientation" >
                <ul>
                    <li th:each="err : ${#fields.errors('sexualOrientation')}" th:text="${err}" />
                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}"/>
                <option th:each="sexualOrientation: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.SexualOrientation).values()}"
                        th:value="${sexualOrientation}"
                        th:text="${sexualOrientation.getSexualOrientation()}">
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="availability">Availability:</label>
            <select  th:field="*{availability}"  class="form-control" id="availability" name="availability" >
                <ul>
                    <li th:each="err : ${#fields.errors('availability')}" th:text="${err}" />
                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}"/>
                <option th:each="availability: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.Availability).values()}"
                        th:value="${availability}"
                        th:text="${availability.getAvailability()}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="workPlace">WorkPlace:</label>
            <select  th:field="*{workPlace}"  class="form-control" id="workPlace" name="workPlace" >
                <ul>
                    <li th:each="err : ${#fields.errors('workPlace')}" th:text="${err}" />
                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}"/>
                <option th:each="workPlace: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.WorkPlace).values()}"
                        th:value="${workPlace}"
                        th:text="${workPlace.getWorkPlace()}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="phonePrivate">Private phone:</label>
            <input th:field="*{phonePrivate}" type="text" class="form-control" id="phonePrivate" placeholder="Enter private phone" name="phonePrivate">
            <ul>
                <li th:each="err : ${#fields.errors('phonePrivate')}" th:text="#{mobile.phone.wrong.value}" />
            </ul>
        </div>
        <div class="form-group">
        <label for="phoneBusiness">Business phone:</label>
        <input th:field="*{phoneBusiness}" type="text" class="form-control" id="phoneBusiness" placeholder="Enter business phone" name="phoneBusiness">
        <ul>
            <li th:each="err : ${#fields.errors('phoneBusiness')}" th:text="#{mobile.phone.wrong.value}" />
        </ul>
    </div>
        <div class="form-group">
            <label for="emailPrivate">Private e-mail:</label>
            <input th:field="*{emailPrivate}" type="text" class="form-control" id="emailPrivate" placeholder="Enter private e-mail" name="emailPrivate">
            <ul>
                <li th:each="err : ${#fields.errors('emailPrivate')}" th:text="#{email.wrong.value}" />
            </ul>
        </div>
        <div class="form-group">
            <label for="emailBusiness">Business e-mail:</label>
            <input th:field="*{emailBusiness}" type="text" class="form-control" id="emailBusiness" placeholder="Enter business e-mail" name="emailBusiness">
            <ul>
                <li th:each="err : ${#fields.errors('emailBusiness')}" th:text="#{email.wrong.value}" />
            </ul>
        </div>
        <div class="form-group">
            <label for="about">About employee:</label>
            <input th:field="*{about}" type="text" class="form-control" id="about" placeholder="Enter description" name="about">
            <ul>
                <li th:each="err : ${#fields.errors('about')}" th:text="${err}" />
            </ul>
        </div>
        <div class="form-group">
            <label for="employeeState">Employee state:</label>
            <select  th:field="*{employeeState}"  class="form-control" id="employeeState" name="employeeState" >
                <ul>
                    <li th:each="err : ${#fields.errors('employeeState')}" th:text="${err}" />
                </ul>
                <option th:value="null" th:text="#{employee.form.placeholder}"/>
                <option th:each="employeeState: ${T(com.barjaccorp.bestpartner_employer.entities.employee_description.EmployeeState).values()}"
                        th:value="${employeeState}"
                        th:text="${employeeState.getEmployeeState()}">
                </option>
            </select>
        </div>


        <button type="submit" class="btn btn-primary">Save employee</button>
    </form>
</div>
</body>
</html>
