<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="alert alert-warning" th:if="${errorMessage != null}" th:text="${errorMessage}"/>
    <h2>Lista pracowników</h2>
    <a th:href="@{/employee/add}"><button type="button" class="btn btn-primary">Add employee</button></a>


    <table class="table table-striped">
        <thead>
        <tr>
            <th> Id</th>
            <th> First name </th>
            <th> Last name </th>
            <th> Age </th>
            <th> Sex </th>
            <th> Education degree </th>
            <th> Height </th>
            <th> Weight </th>
            <th> Body type </th>
            <th> Complexion </th>
            <th> Hair colour </th>
            <th> Ethnicity </th>
            <th> Religious relation </th>
            <th> Sexual orientation </th>
            <th> Availability </th>
            <th> WorkPlace </th>
            <th> Private phone </th>
            <th> Business phone </th>
            <th> Private e-mail </th>
            <th> Business e-mail </th>
            <th> About employee </th>
            <th> Employee state </th>
            <th> Insert date </th>
            <th> Update date </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}" th:if="${!employees.isEmpty()}">
            <td th:text="${employee.employeeId}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.age}"></td>
            <td th:text="${employee.sex}"></td>
            <td th:text="${employee.educationDegree}"></td>
            <td th:text="${employee.height}"></td>
            <td th:text="${employee.weight}"></td>
            <td th:text="${employee.bodyType}"></td>
            <td th:text="${employee.complexion}"></td>
            <td th:text="${employee.hairColour}"></td>
            <td th:text="${employee.ethnicity}"></td>
            <td th:text="${employee.religiousRelation}"></td>
            <td th:text="${employee.sexualOrientation}"></td>
            <td th:text="${employee.availability}"></td>
            <td th:text="${employee.workPlace}"></td>
            <td th:text="${employee.phonePrivate}"></td>
            <td th:text="${employee.phoneBusiness}"></td>
            <td th:text="${employee.emailPrivate}"></td>
            <td th:text="${employee.emailBusiness}"></td>
            <td th:text="${employee.about}"></td>
            <td th:text="${employee.employeeState}"></td>
            <td th:text="${employee.insertDate}"></td>
            <td th:text="${employee.updateDate}"></td>
            <td><a th:href="@{/employee/delete(employeeId=${employee.employeeId})}"><button type="button" class="btn btn-primary">Delete</button></a></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>